/* chandra css start*/

.bar-graph-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8c169;
  padding: 40px 40px;
}

.bar-graph-details h2 {
  text-align: center;
  font-family: "Arial, sans-serif";
  max-width: 94%;
}

.bar-main-container {
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #27764c;
}
.bar-graph-title h3 {
  font-weight: bolder;
  font-family: "Arial, sans-serif";
  padding-bottom: 20px;
  color: #c8c169;
}
.australian-bar-graph {
  font-weight: bolder;
  font-family: "Arial, sans-serif";
  color: #c8c169;
}

.donut-chart-details {
  display: flex;
  flex-direction: column;
}

.donut-chart-details h2 {
  font-size: 30px;
  font-family: "Arial, sans-serif";
  color: white;
  padding-top: 40px;
}

.donutChartList p {
  color: #c8c169;
  font-family: "Arial, sans-serif";
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.donutChartList h5 {
  color: #c8c169;
  font-family: "Arial, sans-serif";
  font-weight: bolder;
  font-size: 18px;
  font-style: italic;
}
.donutPoints {
  padding: 30px 0px 30px 20px;
}

@media (max-width: 600px) {
  #donut-chartDiv .plotly .main-svg text.title {
    font-size: 12px; /* Font size for smaller screens */
  }
}

@media (min-width: 601px) {
  #donut-chartDiv .plotly .main-svg text.title {
    font-size: 16px; /* Font size for larger screens */
  }
}
/* chandra css end */

/* chandra austraian bird first page css start */
.australian-bird-main-container {
  background-color: #27764c;
}

.australian-bird-header {
  background-color: #c8c169;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .australian-bird-header {
    margin: 20px 0px;
  }
}

.australian-bird-header h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  font-family: "Arial, sans-serif";
  text-align: center;
}
.australian-bird-images-container img {
  width: 100%;
  height: 100%;
}
/* chandra austraian bird first page css end */

/* prem css start */

.Animals_first {
  width: 100%;
  height: 100vh;
  background-color: #f0ebe0;
}

.Animals_text {
  font-size: 50px;
  font-weight: bold;
  padding-top: 15rem;
  font-family: "Playfair Display", serif;
}

.text_under {
  color: #ca605a;
}
.line_one {
  width: 100%;
  border: 3px solid #227aaf;
  margin-top: 3rem;
}
.line_second {
  width: 100%;
  border: 1px solid #227aaf;
  margin-top: 15rem;
}

.Animals_second {
  width: 100%;
  height: 100vh;
  background-color: #27764c;
}

.hh {
  height: 100%;
}

.imgsecond {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.animals_second_type {
  padding-top: 10rem;
  padding-left: 1rem;
  /* background-color: red; */
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  padding-bottom: 80px;
}

.Animals_secondText {
  background-color: #c8c169;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-top: 3px solid blue;
  border-bottom: 1px solid blue;
  font-family: "Playfair Display", serif;
}

.firstbox_li {
  font-size: 35px;
  font-weight: 400;
  color: gray;
  font-family: "Playfair Display", serif;
}

.Animals_Third {
  height: 100vh;
  background-color: #f0ebe0;
}

.hr-line {
  border-top: 3px solid blue;
  width: 100%;
  margin-top: 40px;
}

.animals_style {
  font-size: 45px;
  text-align: center;
  font-weight: 800;
  padding: 30px;
  font-family: "Playfair Display", serif;
}

.animals_style_second {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  color: #367092;
  font-family: "Playfair Display", serif;
}

.animals_style_third {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.inner_text {
  color: #ca605a;
}

.hr-line_second {
  border-top: 1px solid blue;
  width: 100%;
}

.Animals_fourth {
  height: 100vh;
  background-color: #27764c;
}

.hr-line_third {
  border: 3px solid white;
  width: 100%;
  opacity: 1;
  margin-top: 3rem;
}

.animals_style_second_one {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 5rem;
}

.animals_style_second_two {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  color: white;
  padding-top: 70px;
}

.hr-line_second_third {
  border-top: 2px solid white;
  width: 100%;
  margin-top: 5rem !important;
}

.Animals_five {
  height: 100vh;
  background-color: #27764c;
}

.fourth_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.five_animals {
  margin-top: 3rem;
  border-top: 3px solid #c8c169;
  padding: 80px;
}

.animal_five_para_one {
  font-size: 30px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  padding: 50px 0px 0px 0px;
  color: white;
}

.animal_five_para_two {
  font-size: 30px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  padding: 40px 0px 0px 0px;
  color: white;
}

.hr-line_five {
  width: 100%;
  border-top: 3px solid #c8c169;
}

.Animals_six {
  height: 100vh;
  background-color: #27764c;
}

.text_style {
  font-size: 40px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.graph_img {
  width: 90%;
  height: 75%;
  object-fit: contain;
  padding: 10px 0px 0px 100px;
}
.text_below_graph {
  font-size: 24px;
  color: #c8c169;
  margin-top: 20px !important;

  /* padding-left: 100px; */
  /* margin-left: 100px; */
}
@media screen and (min-width: 1025px) and (max-width: 1550px) {
  .Animals_first {
    width: 100%;
    height: auto;
  }

  .Animals_text {
    font-size: 48px;
    font-weight: bold;
    padding-top: 245px;
    padding-left: 50px;
  }
  .img_first {
    width: 100%;
  }
  .img_first {
    width: 100%;
  }
  .line_second {
    width: 100%;
    border: 1px solid #227aaf;
    margin-top: 0rem;
    display: none;
  }

  .Animals_second {
    height: 100%;
    width: 100%;
  }
  .imgsecond {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  .Animals_Third {
    height: 100%;
    width: 100%;
    background-color: #f0ebe0;
  }
  .Animals_fourth {
    height: 100%;
    width: 100%;
  }
  .fourth_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  .Animals_five {
    height: 100%;
    width: 100%;
  }
  .Animals_six {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .animals_second_type {
    padding-top: 1rem;
    padding-left: 1rem;

    padding-bottom: 0px;
    /* padding: auto !important; */
  }
}

@media screen and (max-width: 1024px) {
  .Animals_first {
    width: 100%;
    height: auto;
  }

  .Animals_text {
    font-size: 35px;
    font-weight: bold;
    padding-top: 150px;
  }
  .img_first {
    width: 100%;
  }
  .img_first {
    width: 100%;
  }
  .line_second {
    width: 100%;
    border: 1px solid #227aaf;
    margin-top: 0rem;
    display: none;
  }

  .Animals_second {
    height: auto;
  }

  .Animals_secondText {
    font-size: 35px;
    font-weight: bold;
    border-top: 3px solid blue;
    border-bottom: 1px solid blue;
    font-family: "Playfair Display", serif;
  }
  .firstbox_li {
    font-size: 20px;
    font-weight: 400;
    color: gray;
    font-family: "Playfair Display", serif;
  }
  .animals_style {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    padding: 30px;
    font-family: "Playfair Display", serif;
  }

  .animals_style_second {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #367092;
    font-family: "Playfair Display", serif;
  }

  .animals_style_third {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    font-family: "Playfair Display", serif;
  }

  .Animals_Third {
    height: auto;
  }
  .animals_style_second_one {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .animals_style_second_two {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: white;
    padding-top: 70px;
  }
  .para_style {
    padding-top: 1rem;
  }

  .Animals_fourth {
    height: auto;
  }

  .five_animals {
    margin-top: 3rem;
    /* border-top: 3px solid blue; */
    padding: 0px;
  }

  .animal_five_para_one {
    font-size: 20px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding: 50px 0px 0px 0px;
    color: white;
  }

  .animal_five_para_two {
    font-size: 20px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding: 40px 0px 0px 0px;
    color: white;
  }
  .Animals_five {
    height: auto;
  }
  .Animals_six {
    height: auto;
  }
  .text_style {
    font-size: 20px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  .text_below_graph {
    font-size: 14px;
    color: white;
  }
  .graph_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0px 0px 0px 0px;
  }
}

/* prem css end */

/* imam css start */

.list-item-container {
  font-size: 25px;
  font-family: "sans-serif";
  letter-spacing: 1px;
  word-spacing: 0px;
  color: rgb(89, 88, 88);
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
line-height:1.3
}
.australian-species {
  font-weight: bold;
  color: #c8c169;
}
.newDiv-wrapper-container {
  background-color: #27764c;
  border-radius: 6px;
}

.new-ploat-text-container {
  background: #c8c169;
  width: 85%;
}

.outer-newPlot-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "roboto";
  margin-top: 2rem;
}

.newPlot-text {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.interactive-span-text {
  color: #ca605a;
}

.newPlot-text {
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .newPlot-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .inner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/* imam css end */

/* ajay css started */

.Avian-details {
  color: white;
}

.Avian-details .second-line {
  color: #c8c169;
  font-style: italic;
}
.Avian-details .third-line {
  font-size: 1.5rem;
  font-weight: 900;
}
.Avian-details .greatest-test {
  color: #ca605a;
}
.Avian-details .hr-layout {
  border: 2px solid #c8c169;
}

/* ajay css end */


/* ali-start */

.last-page-container{
  background-color: white;
}
.choropleth-wrapper-container{
 background-color: #27764c;
 border-radius:8px
}

.horizontal-line-div-container{
    background-color:   #c8c169;
    height:2px;
    width:100%;
    margin-top:15px;
     margin-bottom:35px;
    opacity:0.3
}
.new_horizontal{
   background-color: 2px solid #c8c169;
  height:100%;
  width:100%;
  margin-top:24px;
 
  
}

.Choropleth-Map-text{
  font-size: 40px;
  text-align: center;
  color:white;
}
.choropleth-decription{
   font-size: 30px;
  text-align: center;
  color:#c8c169;
  font-style: italic;
   font-family: "roboto";
}
.choropleth-text-heading-span-tag{
  color:#c8c169;
 font-weight: bold;
  font-family: "roboto";
}

.choropleth-parrot-image-container{
  height:500px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.choropleth-img{
  height: 600px;
  width: 100%;
  padding:10px;
  border-radius: 20px;

}


@media screen and (max-width:768px){
  .choropleth-img{
  height: 400px;
}

.choropleth-text-heading-span-tag-parrot{
  font-size: 21px;
  text-align: center;
   font-family: "roboto";
}
.choropleth-text-heading-span-tag-parrot-desc{
  font-size: 13px !important;
  text-align: center;
   font-family: "roboto";
}
.Choropleth-Map-text{
   font-size: 21px;
  text-align: center;
   font-family: "roboto";
}
.choropleth-decription{
  font-size: 13px !important;
  text-align: center;
   font-family: "roboto";
}

}
@media screen and (max-width:425px){
  .choropleth-img{
  height: 300px;
}
.choropleth-text-heading-span-tag-parrot{
  font-size: 16px;
  text-align: center;
   font-family: "roboto";
}
.choropleth-text-heading-span-tag-parrot-desc{
  font-size: 9px !important;
  text-align: center;
   font-family: "roboto";
}

.Choropleth-Map-text{
  font-size: 16px;
  text-align: center;
   font-family: "roboto";
}
.choropleth-decription{
 font-size: 9px !important;
  text-align: center;
   font-family: "roboto";
}
.newPlot-text{
  font-size: 16px;
  text-align: center;
   font-family: "roboto";
}
.new-ploat-text-container{
  width:100%
}
.donut-chart-details >h2{
  font-size: 16px;
  text-align: center;
   font-family: "roboto";
}
.australian-bird-header >h1{
  font-size: 20px !important;
  text-align: center;
}
}

.great-damage-text-desc{

    color:   #c8c169;
}
.choropleth-text-heading-span-tag-parrot{
  color:white;
 font-weight: 500;
  font-family: "roboto";
}

.choropleth-text-heading-span-tag-parrot-desc{
  font-size:23px;
   color:white;
   
   font-style: italic;
   font-weight: 400;
    font-family: "roboto";
}
.threatened-Avian-species{
  border-radius: 6px !important;
}
.avaian-text-heading-new{
  font-family: "roboto";
}
.imgsecond{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
   border-top-right-radius: 8px;
}

.australian-bird-main-container{
   border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
   border-top-right-radius: 8px;
}

.aus-bird-image-new{
 
  border-bottom-right-radius: 8px;
   border-top-right-radius: 8px;
}